<div>
  <% @categories.each do |category| %>
    <h1><%= category.name %></h1>
    <% category.items.where(user_id: current_user.id).each do |item| %>
      <h4><%= item.name %></h4>
    <% end %>
  <% end %>
</div>

<div>
  <% @items.each do |item| %>
    <h1><%= item.name %></h1>
    <div>
      <button class="btn btn-danger no-link-style"><%= link_to "Delete", "/items/#{item.id}", method: :delete %></button>
    </div>
  <% end %>
</div>
<form action="/items/new">
  <button class="btn btn-success">Add new item</button>
</form>