<div>
  <% @items.each do |item| %>
    <h1><%= item.name %></h1>
    <div>
      <button class="btn btn-danger no-link-style"><%= link_to "Delete", "/items/#{item.id}", method: :delete %></button>
    </div>
  <% end %>
</div>
<form action="/items/new">
  <button class="btn btn-success">Add new item</button>
</form>