<div>
  <% @categories.each do |category| %>
    <div class="cat-name">
      <h1><%= category.name %></h1>
    </div>
    <% category.items.where(user_id: current_user.id).each do |item| %>
      <span><h4><%= item.name %></h4></span>
        <div class="del-btn">
        <button class="btn btn-sm btn-danger no-link-style"><%= link_to "Delete", "/items/#{item.id}", method: :delete %></button>
        </div>
    <% end %>
  <% end %>
</div>
<hr>
<div>
  <form action="/items/new">
    <button class="btn btn-success">Add new item</button>
  </form>
</div>