<div>
  <% @items.each do |item| %>
    <h1><%= item.name %></h1>
    <button class="btn btn-danger align-right">Remove</button>
    <hr>
  <% end %>
</div>
<form action="/items/new">
  <button class="btn btn-success">Add new item</button>
</form>