<h1><%= @destination["almanac"]["airport_code"] %></h1>
<h3>Normal high for <%= @date %> <%= @destination["almanac"]["temp_high"]["normal"]["F"] %>&#8457 / <%= @destination["almanac"]["temp_high"]["normal"]["C"] %>&#8451</h3>