.dest-header {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  height: 100px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-dest {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.destination {
  text-align: center;
}

.destination a:hover {
  text-decoration: none;
}

.center {
  margin: auto;
  width: 50%;
}

.no-link-style {
  text-decoration: none;
}

hr {
  background-color: #7D4510;
  width: 85%;
  height: 1px;
}

.fancy {
  text-decoration: bold;
}

.location-hot {
  width: 168px;
  height: 140px;
  margin: auto;
  background: url("/img/weather_icons/Weather_Artboard 2.png");
}

.location-hot-rainy {
  width: 168px;
  height: 140px;
  margin: auto;
  background: url("/img/weather_icons/Weather_Artboard 8.png");
}

.location-warm {
  width: 168px;
  height: 140px;
  margin: auto;
  background: url("/img/weather_icons/Weather_Artboard 2.png");
}

.location-warm-rainy {
  width: 168px;
  height: 140px;
  margin: auto;
  background: #fff url("/img/weather_icons/Weather_Artboard 12.png");
}

.location-cool {
  width: 168px;
  height: 140px;
  margin: auto;
  background: #fff url("/img/weather_icons/Weather_Artboard 6.png");
}

.location-cool-rainy {
  text-align: center;
  background: #fff url("/img/weather_icons/Weather_Artboard 7.png") no-repeat fixed center;
  color: #fff;
}

.location-cold {
  background: url("/img/weather_icons/Weather_Artboard 18.png");
}

.location-cold-snowy {
  background: url("/img/weather_icons/Weather_Artboard 15.png");
}

.location-no-data {
  background: url("img/weather_icons/Weather_Artboard 26.png");
}

.map {
  margin: auto;
}

.recommendations {
  text-align: center;
  width: 90%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.recommendations h1 {
  color: #AF710D;
}

.recommended-items {
  text-align: center;
  height: 150px;
  width: 150px;
  margin: auto;
}

.highlight {
  color: #FB4C2F;
}

.city {
}

.fact {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.forecast {
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.trip-header {
  text-align: center
}

.flag {
  border: 1px solid white;
  border-radius: 10%;
}

.itinerary {
  text-align: center;
  border-left: 1px #7D4510 solid;
  font-family: 'Roboto', sans-serif;
}

.weather {
  margin: auto;
}

.dates {
  margin-top: 20px;
}