// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// button {
//   background-color: #2F343B;
//   border: none;
//   color: white;
//   padding: 5px;
//   margin: 5px;
// }

.dest-header {
  text-align: center;
  background-color: #2ba8db;
  color: white;
  width: 90%;
  margin: auto;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.destination {
  text-align: center;
}

.destination a:hover {
  text-decoration: none;
}

.center {
  margin: auto;
  width: 50%;
}

.no-link-style {
  text-decoration: none;
}

hr {
  color: #2ba8db;
}

.fancy {
  text-decoration: bold;
}

.location {
  text-align: center;
}

.map {
  margin: auto;
}

.recommendations {
  text-align: center;
}