// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
  color: #2ba8db;
}

.align-right {
  float: right;
}

.cat-name {
  background-color: #2ba8db;
  color: white;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.del-btn {
  margin-left: auto;
}

a:link {
  text-decoration: none;
}