// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
  color: #2ba8db;
}

.cat-name {
  background-color: #2ba8db;
  color: white;
  text-align: center;
  margin: auto;
  width: 90%;
}

.spacer {
  margin: 15px, 0;
  display: none;
}

.flex-items {
}

.del-btn {
  margin-left: auto;
}

a:link {
  text-decoration: none;
}

.move-in {
  margin-left: 400px;
}

.cat-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
}

p.category {
  text-align: center;
}

.index-sized {
  max-height: 150px;
  max-width: 150px;
}

.destination-items {
  max-height: 200px;
  max-width: 200px;
}